<div id="header">node js / express / mongoose / mongo</div>
<p>
<div id="mainNavigation">
    <a href="/">Home</a> |
    <a href="/collections">Collections</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a>
</div>
</p>
<h3 class="title"><%= title %></h3>