<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>

    <% include partials/header.ejs %>

    <p><% include partials/collectionNavigation.ejs %></p>

    <p>Select a collection from the menu above.</p>

</body>
</html>