<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header.ejs %>

    <p><% include ../partials/collectionNavigation.ejs %></p>

    <p>Firearm <%= verb %> successfully!</p>
</body>
</html>