body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header {
    font-size: 1.75em;
}

#mainNavigation {
    font-size: 1.25em;
    font-weight: bold;
}

a {
  color: #00B7FF;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: #ffb6c1;
}

a.active {
    color: #0080b3;
}

h3.title {
    border-bottom: 2px solid #ffb6c1;
    padding: 5px;
}

td.rowSeparator {
    border-bottom: 1px solid #ffb6c1;
    padding: 5px;
}